*{
    box-sizing: border-box;
    list-style-type: none;
    font-weight: bold;
}
html {
   height: 100%;
}
p, figcaption p, section p{
    line-height: 1.8;
    font-size: small;
    color: #1d1c29;
}
body{
    margin: auto;
    width:80%;
    padding: 10px;
    min-height: 100%;
}
div.content{
    box-sizing: border-box;
    height:75%;
    min-height:75%;
    padding:1em;
}
figcaption{
    overflow: hidden;
    text-overflow: ellipsis;
}
article > h1{
    color: #625d5d;;
    text-align: center;
}
section,.section{
    padding:2rem;
    background: #9fa0a5;
    margin:3rem 2rem;
    position: relative;
    box-sizing: border-box;
}
embed, video, object{
    margin: auto;
    position: relative;
}

.fa{
    cursor: pointer;
    padding:0.5rem;
    background: transparent;
    color: white;
}

.fa:hover{
    background: gray;
    color: white;
    opacity: 0.5;
}
figcaption p{
}
figcaption > pre{
    font-size: large;
    color: darkblue;
}
.strong{
    color: #c23232;
    font-weight: bold;
    font-size: larger;
}
footer,.center{
    text-align: center;
}
.center{
    padding-top: 1rem;
    margin: 2rem 1rem;
    font-size: x-large;
    line-height: 1.8;
}